
body {
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;
}
/*Main title panel*/
.topbar {
	  //height: 55px;
	 	font-family: 'Roboto', sans-serif;
	 	font-weight: bold;
	 	background-color: #66aeff;
    //display: flex;
    width: 100%;
    overflow: hidden;
}

.topbar .leftbar {
	float: left;
	padding: 15px;
	font-weight: bold;
	font-size: 18px;
}

.topbar .leftbar a:hover {
	 	color: green;
	 }

.topbar .leftbar a:visited {
	 	color: #ffffff;
	 }
   
/*Search box*/
.topbar .titlepanel {
  align-items: center;
}
.topbar .titlepanel form {
  float: right;
	text-align: center;
	padding-top: 8px;
}

.topbar .titlepanel select {
  color: black;
	background-color: white;
	text-align: center;	
}

.topbar .titlepanel input[type=text] {
	width: 400px;
	box-sizing: border-box;
	border: 4px solid green;
  padding: 5px;
}

.topbar .titlepanel input[type=submit] {
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 2px;
  color: green;
  background-color: skyblue;
	margin: auto;
 
}

/*
summoner info box
*/
.summonerNameInfo {
	border: 25px solid transparent;
	/*border-image: url(border1.png) 30 round;*/
	padding: 35px;
	margin: 35px;
	background-image: url("Images/titleBG1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
	min-height: 100%;
	min-width: 100%;
}

#sName {
	font-size: 30px;
	float: right;
	color: white;
	background-color: green;
}

.maintext {
	background-color: rgba(0,41,44,0.6);
	opacity: 0.72;
}
h1.main {
	font-size: 30px;
	text-align: center;
	color: white;
}
h2.main1 {
	font-size: 20px;
	text-align: center;
	color: white;
}

.heimerfact {
	background-color: white;
	opacity: .42;
	width: 300px;
	border: 5px ;
	padding: 15px;
}
/*footer styling*/
.footer {
   	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

}

.footer .footer_left{
		/*display: inline-block;
		vertical-align: middle;
		text-align: center;*/
		list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #ffffff;

}

.footer .footer_left .footer_items {
		float: center;
		display: inline;
		padding: 5px;
		font-size: 15px;
}

.footer .footer_left .footer_items a:hover{
		background-color: #ffffff;
}

.footer .footer_right{
		/*display: inline-block;
		vertical-align: middle;
		text-align: center;*/
		list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #ffffff;

}

.footer .footer_right .footer_ss {
		float: center;
		display: inline;
		padding: 5px;
		font-size: 15px;
		padding: 20px;
}
